In [6]:
import pandas as pd
import osmnx as ox
import shapely as shp
import numpy as np
import os
import requests
import fynesse
import geopandas as gpd
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile
import sklearn
import MySQLdb

%load_ext sql

with open("./credentials1.yaml") as file:
  credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = credentials["url"]
port = credentials["port"]

%config SqlMagic.style = '_DEPRECATED_DEFAULT'

connection_string = f"mysql+pymysql://{username}:{password}@{url}:{port}/ads_2024?local_infile=1"
%sql $connection_string
%sql use ads_2024;

conn = MySQLdb.connect(user=username, password=password, host=url, port=port)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://root:***@localhost:3306/ads_2024?local_infile=1
0 rows affected.

In [2]:
%%sql
CREATE TABLE IF NOT EXISTS `prices_coordinates_data` (
  `price` int(10) unsigned NOT NULL,
  `date_of_transfer` date NOT NULL,
  `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
  `property_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `new_build_flag` varchar(1) COLLATE utf8_bin NOT NULL,
  `tenure_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `locality` tinytext COLLATE utf8_bin NOT NULL,
  `town_city` tinytext COLLATE utf8_bin NOT NULL,
  `district` tinytext COLLATE utf8_bin NOT NULL,
  `county` tinytext COLLATE utf8_bin NOT NULL,
  `country` enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
  `latitude` decimal(11,8) NOT NULL,
  `longitude` decimal(10,8) NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

In [3]:
cursor = conn.cursor()
cursor.execute("USE ads_2024;")

0

In [4]:
for i in range(2006, 2025):
    fynesse.access.housing_upload_join_data(conn, i)

Selecting data for year: 2006
Storing data for year: 2006
Data stored for year: 2006
Selecting data for year: 2007
Storing data for year: 2007
Data stored for year: 2007
Selecting data for year: 2008
Storing data for year: 2008
Data stored for year: 2008
Selecting data for year: 2009
Storing data for year: 2009
Data stored for year: 2009
Selecting data for year: 2010
Storing data for year: 2010
Data stored for year: 2010
Selecting data for year: 2011
Storing data for year: 2011
Data stored for year: 2011
Selecting data for year: 2012
Storing data for year: 2012
Data stored for year: 2012
Selecting data for year: 2013
Storing data for year: 2013
Data stored for year: 2013
Selecting data for year: 2014
Storing data for year: 2014
Data stored for year: 2014
Selecting data for year: 2015
Storing data for year: 2015
Data stored for year: 2015
Selecting data for year: 2016
Storing data for year: 2016
Data stored for year: 2016
Selecting data for year: 2017
Storing data for year: 2017
Data stored for year: 2017
Selecting data for year: 2018
Storing data for year: 2018
Data stored for year: 2018
Selecting data for year: 2019
Storing data for year: 2019
Data stored for year: 2019
Selecting data for year: 2020
Storing data for year: 2020
Data stored for year: 2020
Selecting data for year: 2021
Storing data for year: 2021
Data stored for year: 2021
Selecting data for year: 2022
Storing data for year: 2022
Data stored for year: 2022
Selecting data for year: 2023
Storing data for year: 2023
Data stored for year: 2023
Selecting data for year: 2024
Storing data for year: 2024
Data stored for year: 2024

In [8]:
%%sql
ALTER TABLE prices_coordinates_data ADD INDEX idx_date_of_transfer(date_of_transfer);

 * mysql+pymysql://root:***@localhost:3306/ads_2024?local_infile=1
0 rows affected.

[]